@charset "UTF-8";

$default_html_font_size: 16px !default;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    min-width: 1366px;
    height: 100vh;
    overflow-y: auto;
    // background-color: #0D101F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.h4, h4 {
    font-size: 1.125rem;
    line-height: 1.5em;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

em, i {
    font-style:normal
}

a {
    text-decoration:none;
    color: #ffffff;
}
a:hover, a:link, a:visited, a:active {
    text-decoration: none; 
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.child-wrap {
    width: 100%;
    // height: 100%;
    padding: 20px;
}

.grid-bac {
    background: linear-gradient(90deg, rgba(15, 130, 250, 0.06) 10%, transparent 0),
    linear-gradient(rgba(15, 130, 250, 0.06) 10%, transparent 0);
    background-size: 10px 10px;
}

.scrollbar {
    &::-webkit-scrollbar{
        width: 5px;
        height: 5px;
        background-color: transparent;
    }
    /*滚动条的轨道*/
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    /*滚动条的滑块按钮*/
    &::-webkit-scrollbar-thumb{
        width:5px;
        border-radius: 10px;
        background-color:#dcdcdc;
    }
    /*滚动条的上下两端的按钮*/
    &::-webkit-scrollbar-button{
        height: 10px;
        background-color: transparent;
    }
}